.page .content::before {
  content: 'Warning: This docs is for an upcoming version of prescript, v0.5040, which contains many new APIs that cannot be used in older versions.';
  display: block;
  margin-top: 3.5rem;
  color: #c00;
  background: #fee;
  border: 1px solid #ecc;
  padding: 1rem;
}
